
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Noodles Egypt</title>
</head>
<body>
    <ul>
        <li>Home</li>
        <li>Menu</li>
        <li>Our Branches</li>
        <li>Contact Us</li>
    </ul>
</body>
</html>
