

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListAll</title>
    <style>
        section
        {
            padding: 60px 0;
        }
    </style>
    <link rel="stylesheet" href="~/css/Item/ListAll.css" />
</head>

<body>
    <div class="dropdown container-md">
        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">@Model.CurrentCategory</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Item/ViewByCategory?Category=Sushi">Sushi</a></li>
            <li><a class="dropdown-item" href="/Item/ViewByCategory?Category=Noodles">Noodles</a></li>
            <li><a class="dropdown-item" href="#">Extras</a></li>
            <li><a class="dropdown-item" href="#">Dessert</a></li>
        </ul>

    </div>
    @* <h1 class="display-6 container-md mt-3">@Model.CurrentCategory</h1> *@


    @* row justify-content-center g-3 *@
    <!--Menu items-->
    <section id="menu-items">
        <div class="container">
            <div class="row row-cols-2 row-cols-md-4 g-4 h-100">
                @{

                    foreach (Item item in Model.ItemsList)
                    {
                        @Html.Partial("ItemSummary", item)
                    }
                }
            </div>
        </div>
    </section>
   
    <!--footer-->

    
</body>
</html>

